#navbar2 li {
	width: 100%;
	float: left;
}
.DisplayNone
{
	display: none;
}

html, body {
	font-family: 'Arvo', serif;
	/*font-family: Consolas, monaco, monospace;*/
	/*background-image: url('../img/backblanc.png');*/
	background-image: url('../img/imagefondtest.jpg');
	/*background-repeat: no-repeat;*/
	/*background-size: cover;
	width: 100%;*/
	background-attachment: fixed;
}
body {
	word-wrap: break-word;
	font-size: 15px;
}
h3 {
	font-size: 2rem;
}
.center
{
	text-align: center;
}
.table-user-information td
{
	display:inline-block;
}
.wrapper {
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
/*MAIN CONTENT*/
.main_content {
	margin-bottom: 3em;
}

a:link {
 text-decoration:none;
}
h1.Nom_Orga{
	background-color: #337ab7;
	font-weight: bolder;
	word-wrap: break-word;
	text-align:center;
	color: white;
	font-size: inherit;
}
.texte_3D{
	margin-bottom: 20px;
    text-shadow:
        1px 1px 1px #108fcc,
        1px 2px 1px #108fcc,
        1px 3px 1px #108fcc,
        1px 4px 1px #2e6da4,
        1px 5px 1px #2e6da4,
        1px 6px 1px #2e6da4,
        1px 7px 1px #2e6da4,
        0 1px 1px rgba(68,68,68,.3),
        0 5px 3px rgba(68,68,68,.2),
        0 10px 4px rgba(68,68,68,.2),
        0 15px 8px rgba(68,68,68,.2),
        0 30px 10px rgba(68,68,68,.1);
}

.barredyna {
	left: 0;
	margin-left: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.barredyna li a{
margin: 0;
padding: 0;
}
/*///////////////////////////////////////////////////////////////////////*/

/*.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}*/
.return {
		display: none;
}

button.btn.btn-success.btn-xs.return{
	background-color: : #108fcc;
}

h1.navbar-brand {
	display: block;
		float: none;
	font-weight: bold;
	font-style: italic;
	font-family: cursive;
}
.navbar-nav {
	margin-top: 5px;
}
/*navbar-brand h1{
	display: inline;
}*/

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

@media screen and (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .navbar-static-top {
	background-color: #52C9FF;
	color: white;
	font-weight: bolder;
	}
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #108fcc;
	color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color: #108fcc;
		font-weight: bold;
		font-size: 40px;
}

a {
	font-size: 18px;
	margin: 10px 5px;
}
.titreback {
	text-align: center;
	font-style: italic;
	color: #108fcc;
	font-weight: bold;
	font-size: 30px;
	/*border : 3px solid ##337ab7;*/
	/*margin-left: 30%;
	margin-right: 30%;
	margin-top: 6%;*/

}
.navbar_organisation{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	position: relative;
}
.navbar_organisation ,.nav>li>a:focus, .nav>li>a:hover
{
	background-color: inherit;
}
.navbar_organisation li{
	display: block;
	float: left;
	padding: 0px 10px;
	margin: 0px;
}
.container {
	margin: 50px;
}

input {
	color: black;
}
input.form-control {
	color: #108fcc;
	font-size: 1.2em;
}

/*///////////////////////////////////////////////////////////////////////*/
/*user.php*/
.titreusers {
	text-align: center;
	font-style: italic;
	color: #108fcc;
	font-weight: bold;
	font-size: 30px;
	border : 3px solid ##337ab7;
	font-family: 'Arvo', serif;
}
.userpseudo {
	font-size: 20px;
	font-weight: bold;
}
.centrer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
}
tbody {
	font-size: 15px;
}
/*///////////////////////////////////////////////////////////////////////*/
/*formulaire contact mairie*/
@import url(https://fonts.googleapis.com/css?family=Lobster);
/*panel heading*/
.formContactMairie {
    text-align:center;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}
/*panel align center*/
/*.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}*/

/*property for the bootstrap panel*/
.panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.panel-default > .panel-heading {
  color: #000 !important;
  background: #80bfff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #80bfff, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #80bfff, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #80bfff, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #80bfff, #ffffff); /* Standard syntax */
  border-color: #99ccff !important;
  height:80px;
}

/*property for the HTML input placeholder*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*property for reset button*/
button[type="reset"]    {
    background-color:transparent;
    border:1px solid black;
}
/*///////////////////////////////////////////////////////////////////////*/
/*Glyphicon color*/
.blue   {
    color: #80bfff;
}
.red {
	color: red;
}

.fichecontact{
    margin-left: auto;
		margin-right: auto;
}
.fichecontact .input-group {
	width: 100%;
}
/*///////////////////////////////////////////////////////////////////////*/
/*css page asso.php*/

.affichageAsso {
		font-size: 2px;
		background-image: url('../img/backblanc.png');
		background-repeat: no-repeat;
		background-size: cover;
		border: 3px solid #99ccff;
		color: #108fcc;
		border-radius: 10px;
}
.centerBut {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}
.affichage {
	background-image: url('../img/backblanc.png');
	border: 3px solid #99ccff;
	color: #108fcc;
	border-radius: 10px;
	padding: 1em;
}
.affichage > .row  {
	margin-bottom: 10px;
}
.marginR {
	margin-right: 5%;
}

.bouge {
	padding: 15px;
	margin:  25px ;
}
/*///////////////////////////////////////////////////////////////////////*/
/*css page mairie.php*/
.affichageMairie {
	background-image: url('../img/backblanc.png');
	background-repeat: no-repeat;
	background-size: cover;
	/*margin-left: auto;
	margin-right: auto;*/
	border: 3px solid #99ccff;
	color: #108fcc;
	border-radius: 10px;
}
.centragetitre {
	text-align: center;
	font-weight: bolder;
	font-size: 2.5em;
}
.panel-body {
	margin-left: auto;
	margin-right: auto;
}
.couleur_bleue {
	color: #31708f;
}
.titrecontact {
	text-align: center;
	font-style: italic;
	color: #108fcc;
	font-weight: bold;
	font-size: 26px;
	margin-left: 10%;
  margin-right: 10%;
	background-image: url('../img/backblanc.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1em;
	border: 3px solid #99ccff;
	color: #108fcc;
	border-radius: 10px;
}

.btn.btn-default {
color: #108fcc;
font-size: 20px;
}
.messageall {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*pagination*/
.pagin{

	background-color: inherit;;
	border-radius: 20px;
	color: #108fcc;
	font-weight: bolder;
	text-align: center;
}
.voisin {
	color: #108fcc;
}
.actuel {
	color: #108fcc;
}
/*///////////////////////////////////////////////////////////////////////*/
span.input-group-addon {
		color :#108fcc;
		width: 150px;
}

/*///////////////////////////////////////////////////////////////////////*/
.padd{
	margin-top: 1em;
	margin-bottom: 1em;
}
.pad{
	padding-top: 2em;
	padding-bottom: 2em;
}
.padleft{
	padding-left: 20px;
}
.padleft2{
	padding-left: 400px;
}
.padleft3{
	padding-left: 200px;
}
.padleft4{
	padding-left: 40px;
}
.souligne {
	text-decoration: underline;
}
/*///////////////////////////////////////////////////////////////////////*/
.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px white;
  margin: 2em auto;
  max-width: 940px;
}
.thumbnail h2 {
	font-size: 22px;
  text-transform: uppercase;
	text-align: center;
}
.textnews {
	font-size: 16px;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}
.listing abc {
	text-align: center;
}
.centerBut2 {
	margin-bottom: 2em;

}
.listing span {
	text-align: center;
}
/*///////////////////////////////////////////////////////////////////////*/
.margin1 {
	margin-left: 30px;
}

.aligng{
	text-align: left;
}
/*///////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 768px) {
	.forcewidth {
		width: 200px;
	}
}
/*///////////////////////////////////////////////////////////////////////*/
 .navbar-inverse {
     background-color: #52c9ff;
     border-color: #080808;
 }
 @media (max-width: 767px){
 .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
     color: white;
 }
}

navbar-inverse .navbar-toggle {
    border-color: ;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #52c9ff;
}

/*///////////////////////////////////////////////////////////////////////*/
#background_choise ,#avatar_choise
{
	display: none;

}
#background_choise + label ,#avatar_choise + label
{
	margin-top : 10%;
text-align: center;

}
@media screen and (max-width: 991px) {
	.dropdown-menu {
		position:relative;
	}
}
