/*////////////////////////////////////////*/
/*STYLE QUOTE sur ASSOC*/
/*////////////////////////////////////////*/
.quoteAssoc {
  margin: 0;
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}

/*////////////////////////////////////////*/
/*STYLE TABLEAU INFO sur ASSOC*/
/*////////////////////////////////////////*/
.table {
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}
.table th {
  text-decoration: underline;
  text-align: center;
}
.table td {
  text-align: center;
  font-weight: 400;
}
