/*////////////////////////////////////////*/
/*STYLE QUOTE sur MAIRIE*/
/*////////////////////////////////////////*/
.quoteMairie {
  margin: 0;
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}
/*////////////////////////////////////////*/
/*STYLE TABLEAU INFO sur MAIRIE*/
/*////////////////////////////////////////*/
.table {
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}
.table th {
  text-decoration: underline;
  text-align: center;
}
.table td {
  text-align: center;
  font-weight: 400;
}
.table-responsive {
  border: 0;
  padding: 5px;
}

/*////////////////////////////////////////*/
/*STYLE NEWS sur MAIRIE*/
/*////////////////////////////////////////*/
.thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /*Avoir une couche d'une couleur un peu transparente par
  dessus l'image de fond : */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.65);
  margin: 2em auto;
  max-width: 940px;
}
.thumbnail > .caption {
  color: white;
  text-shadow: 3px 2px 5px #000000;
}
/*Titre news*/
.thumbnail h2 {
  text-transform: uppercase;
}
/*Content news*/
.thumbnail h3 {
  border-bottom: .5px solid white;
  padding: 0px 15px 10px 15px;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: all 1s ease;
}
.thumbnail:hover h3 {
  max-height: 1000px;
}
/*Flou en bas du content overflow*/
.thumbnail .blank {
  transition: all 1s ease;
  opacity: .7;
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  /*filter: blur(3px);*/
  background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,1));
}
.thumbnail:hover .blank {
  opacity: 0;
}

/*Debut modale*/
.newsImg {
  cursor: pointer;
  display: inline;
  transition: all 0.3s ease;
}
.newsImg:hover {
  opacity: .9;
  filter: blur(1px);
}

/*///////////////////////////////////////////////////////////*/
/*Pop-up modale via #newsImg pour les NEWS MAIRIE*/
/*///////////////////////////////////////////////////////////*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*///////////////////////////////////////////////////////////*/
/*FIN MODALE*/
/*///////////////////////////////////////////////////////////*/
