/*////////////////////////////////////////*/
/*STYLE BLOCKQUOTE SUR CONTACT*/
/*////////////////////////////////////////*/
.quoteContact {
  margin: 2em 0 0 0;
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}
/*Button envoyer avec la margin juste sur le contact vu que ce css est appelé juste dans contact*/
.formFront button {
  margin-left: 45%;
}
