/*////////////////////////////////////////*/
/*STYLE TITRE SUR HOME (viré) */
/*////////////////////////////////////////*/
/*.titre_home {
  font-weight: 900;
  font-style: oblique;
}*/

/*////////////////////////////////////////*/
/*STYLE BLOCKQUOTE SUR HOME*/
/*////////////////////////////////////////*/
.presentSite {
  margin: 2em auto;
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}

/*////////////////////////////////////////*/
/*STYLE CAROUSEL SUR HOME*/
/*////////////////////////////////////////*/
.carousel {
  box-shadow: 5px 5px 5px #888888;
}
.carousel-caption h2 {
  display: inline;
  padding: 0 15px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.55);
}
/*Animation img*/
.carousel img{
  transition: all .5s ease;
}
.carousel:hover img {
  transform: scale(1.1);
  opacity: 0.7;
  /*-webkit-filter: blur(2px);*/
}
/*Animation titre sur image*/
.carousel-caption {
  transition: all .5s ease;
  opacity: 0;
}
.carousel:hover .carousel-caption {
  transform: scale(1.1);
  margin-bottom: 30px;
  opacity: 1;
}

/*////////////////////////////////////////*/
/*STYLE CGU via HOME*/
/*////////////////////////////////////////*/
.cgu {
  border: 2px solid #6aa33b;
  border-radius: 5px;
  background-color: rgba(106, 163, 59, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
}
.cgu h2 {
  font-weight: bolder;
  margin-bottom: 1em;
}
.cgu h3 {
  font-style: italic;
}
