/*////////////////////////////////////////*/
/*GLOBAL*/
/*////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Acme|Francois+One|Berkshire+Swash');
html, body {
	font-size: 17px;
	/*font-family: Consolas, monaco, monospace;*/
	font-family: 'Acme', sans-serif;
	background-image: url('../img/background-accueil.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn {
	box-shadow: 2px 2px 5px #888888;
	font-size: 17px;
	border-radius: 0;
}
.btn-success {
	background-color: #6aa33b;
  border-color: #6aa33b;
}
header {
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url('../img/green-waves.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

a:hover {
	text-decoration: none;
}
hr {
	border-color: #6aa33b;
	width: 100%;
}
.return {
		display: none;
}

/*////////////////////////////////////////*/
/*STYLE CONTENU DU HEADER*/
/*////////////////////////////////////////*/

/*Le header dégage pour les < 768px et on laisse la slicknav*/
@media screen and (max-width: 768px) {
	header .description_home {
		display: none;
	}
	header {
		background: none;
	}
	.logo {
		display: block;
		width: 50px;
		position: relative;
		bottom: 153px;
		right: 48px;
	}
	.ASCOMA {
		width: 100px;
	}
}
/*viré img-responsive du logo, marche mieux comme ça*/
.logo {
	margin-top: 6em;
	margin-left: 2em;
}
.description_home {
	margin-top: 9em;
	/*margin-right: 3em;*/
}
.slogan {
	font-weight: 900;
	/*font-style: oblique;*/
}
.menu_home {
	display: flex;
	justify-content: center;
}
.menu_home li {
	list-style: none;
	display: inline-block;
	/*margin: auto 5px;*/
	font-size: larger;
}

/*////////////////////////////////////////*/
/*DISPLAY CONTENT DES VIEWS*/
/*////////////////////////////////////////*/
.wrapper {
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;

}
.main_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 520px;
	margin-top: 3em;
	margin-bottom: 3em;
}
/*min-height du container plus grande en mobile portrait*/
@media screen and (max-width: 768px) {
	.main_content {
		width: 600px;
		min-height: 610px;
		position: relative;
		top: -8em;
		margin-bottom: -6em;
	}
}
@media screen and (max-width: 620px) {
	.main_content {
		width: 500px;
		min-height: 610px;
		position: relative;
		top: -8em;
		margin-bottom: -6em;
	}
}
@media screen and (max-width: 520px) {
	.main_content {
		width: 350px;
		min-height: 610px;
		position: relative;
		top: -8em;
		margin-bottom: -6em;
	}
}
@media screen and (max-width: 370px) {
	.main_content {
		width: 300px;
		min-height: 610px;
		position: relative;
		top: -8em;
		margin-bottom: -6em;
	}
}
blockquote footer {
	color: black;
}
/*Pages d'erreur (404, 409)*/
.errorPage {
	display: flex;
	flex-direction: column;
}
.errorPage > * {
	text-align: center;
	align-items: center;
	justify-content: center;
}


/*////////////////////////////////////////*/
/*STYLE FORMS DANS VIEWS FRONT*/
/*////////////////////////////////////////*/
.formFront {
	border: 2px solid #6aa33b;
	border-radius: 5px;
	background-color: rgba(106, 163, 59, 0.5);
	padding: 20px;
	box-shadow: 5px 5px 5px #888888;
}
/*Les span d'error des form*/
.errorForm {
	font-weight: 900;
	color: maroon;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	/*padding: 2px;*/
	margin-left: 5px;
}
/*Les span confirmation de form*/
.confirmForm {
	font-weight: 900;
	color: green;
	background-color: rgba(239, 232, 232, 0.54);
	border-radius: 2px;
}
textarea {
	min-width: 100%;
	max-width: 100%;
}


/*////////////////////////////////////////*/
/*STYLE FOOTER LAYOUT FRONT*/
/*////////////////////////////////////////*/
footer {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
.footer_haut {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.menu_footer {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	font-size: 17px;
	margin-top: 10px;
	padding-left: 0;
}
.menu_footer li {
	margin-bottom: 1px;
}
.bouton_contact {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bouton_cgu {
	display: flex;
	align-items: center;
	justify-content: center;
}
.reseaux_sociaux {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
/*Boutons media anim zoom*/
.reseaux_sociaux a {
	margin-left: 20px;
	/*width: 120%;*/
	transition: all .3s ease;
}
.reseaux_sociaux a:hover {
	transform: scale(1.5);
}

/*Max width du contenu quand site en responsive (à voir si on laisse)*/
@media screen and (max-width: 1024px) {
	.container {
		max-width: 940px;
	}
}
/*//////////////////////////////////////*/
/*responsive menu_top layout front*/
/*////////////////////////////////////////*/
.slicknav_menu {
	display:none;
}
@media screen and (max-width: 1024px) {
	/* #menu is the original menu */
	#menu {
		display:none;
	}

	.slicknav_menu {
		display:block;
		background-color: #7fc346;
	}
	.slicknav_nav {
		display: flex;
		justify-content: center;
	}
}
@media screen and (max-width: 768px) {
	.slicknav_nav {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	.slicknav_nav > :first-child {
		display: none;
	}
}
